@import "../styles/variables";

.footer {
    width: 100%;
    padding: 50px 0 60px;
    background-color: $primaria;
    color: white;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}