.navbar {
    height: 76px;
    background-color: white;
    filter: drop-shadow(0 -12px 13px black);

    img {
        width: 55vw;

        @media (min-width: 768px) {
            width: unset;
        }
    }
}

.columnDir {
    flex-direction: column;
}