@import "variables";
@import "~bootstrap/scss/bootstrap";

.navbar-light .navbar-nav .nav-link {
    color: $text-color;
}

.form-control {
    padding-left: 1.2rem;
    height: calc(1.5em + 1.2rem + 2px);
}

.btn {
    font-size: 1.3rem;
    font-weight: 700;
}